{% assign sharedclasses = "text-balance font-bold tracking-tight text-gray-900" %}

{% case include.type %}
{% when 'h1' %}
    <h1 class=" {{ sharedclasses }}">{{ include.text }}</h1>
{% when 'h2' %}
    <h1 class="text-2xl sm:text-3xl lg:text-4xl {{ sharedclasses }}">{{ include.text }}</h1>
{% when 'h3' %}
    <h1 class="text-xl sm:text-2xl lg:text-3xl {{ sharedclasses }}">{{ include.text }}</h1>
{% when 'h4' %}
    <h1 class=" {{ sharedclasses }}">{{ include.text }}</h1>
{% else %}
	<div class=" {{ sharedclasses }}">{{ include.text }}</div>
{% endcase %}