<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZMY0FR81M4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZMY0FR81M4');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.data.sitewide.title }}</title>
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.data.sitewide.description }}{% endif %}"/>

    {% if site.baseurl == '' %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    {% else %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main-compiled.css?v=2">
    {% endif %}

    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicon.ico" >
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/assets/images/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <style type="text/css">
      body {
        font-family: "Inter", serif;
      }
    </style>
    <script src="//unpkg.com/alpinejs" defer></script>

  </head>
  <body x-data="{ isMobileNavOpen: false }"
    :class="{ 'overflow-hidden': isMobileNavOpen }">
    {% include header.html %}
    
    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>